#root {

  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.adminLink, .address{
  color: white;
}

.adminLink{
  background-color: #888;
  padding: 12px;
  border: 7px none black;
  border-radius: 4px;
}

.activeElection{
  display: flex;
  margin-top: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

.electionForm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-right: 20px;
  margin-left: 20px;
  
  justify-content: space-between;
}

.votingSelect{
  width: 120px;
  height: 40px;
}

.loginForm{
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 180px;
}

.cardCust{
  width: 25rem;
}

.electionTable{
  border: 1px rigid black;
}

.fwGovb{
  font-size: 15px;
}
